.landing-header h1 {
  color: $locally-blue;
}

.landing-header h2 {
  font-weight: 200;
}


.landing-header h1,
.landing-header h2 {
  text-align: center;
}


.home-banner {
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.landing-header {
  h1 {
    color: black;
    font-size: 1.8em;
    font-weight: 450;
    padding-top: 25px;
  }

  h3 {
    color: black;
    opacity: 0.8;
    font-size: 1.1em;
    font-weight: 350;
    padding-bottom: 5px;
  }
}

.argument-header {
  margin-top: 50px;
  text-align: center;

  h3 {
  border-bottom: 4px solid $locally-blue;
  font-weight: 450;
  margin: 0 auto;
  width: 100px;
  }
  p {
    padding: 15px;
    font-weight: 300;
  }
  img {
  height: 130px;
  width: 100%;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 30px;
  }
}

.btn-home {
  display: block;
  width: fit-content;
  margin-top: 15px;
  margin-left: 15px;
}

.btn-home-primary {
  display: block;
  width: fit-content;
}

.img-map {
  margin-top: 20px;
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.browse {
  h6 {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  }

  .btn-home-secondary {
  display: block;
  width: fit-content;
  margin: 0 auto;
  }
}

h4 {
  padding-bottom: 7px;
  padding-top: 35px;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}

.social-links a {
  color: $locally-blue;
  font-size: 25px;
  padding: 0 5px;

  &:hover {
    opacity: 0.7;
  }

}


#pages-home .report-card {
  position: relative;
  .vote-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: $locally-blue;
  color: $locally-white;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  width: fit-content;
  height: 50px;
  text-align: center;
  padding: 5px 7px;
  border-radius: $border-radius;
  }
    span {
    font-size: 16px;
  }
  .vote-count p {
    color: $locally-white;
  }
}
