#reports-new .algolia-places {
  width: 100%;
}

#reports-new h1{
  text-align: center;
  margin-bottom: 30px;
}

#reports-new .forms-buttons {
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

#reports-new label {
  color: #2F3246;
  font-size: 18px;
  font-weight: 200;
}
