.user-info {
  display: flex;
  justify-content: space-between;
  .avatar-circle {
  margin: 0px 5px auto;
  width: 100px;
  height: 100px;
  background-color: #d7dada;
  text-align: center;
  border-radius: 50%;
  }
  .initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: white;
  font-weight: 600;
  }
  p {
    margin: 0;
  }
  .edit-profile {
    color: $locally-blue;
    .link {
     color: $locally-blue;
    }
  }
}
