.user-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  .user-info-text{
  width: 65%;
  }
  .avatar-circle {
  position: relative;
  margin: 0px 5px auto;
  width: 100px;
  height: 100px;
  background-color: $locally-blue;
  opacity: .9;
  text-align: center;
  border-radius: 50%;
  flex-shrink: 0;
  }
  .initials {
  font-size: 50px;
  line-height: 100px;
  color: white;
  font-weight: 600;
  }
  p {
    margin: 0;
  }
  .edit-profile {
    color: $locally-blue;
    .link {
     color: $locally-blue;
    }
  }
}
