<!--
<div class="bottom-navbar2">
  <a href=""><i class="fas fa-bookmark"></i></a>
  <a href=""><i class="fas fa-plus-circle big-plus-button2"></i></a>
  <a href=""><i class="fas fa-map-marker-alt active"></i></a>
</div>
<br>
<br> -->
<div class="bottom-navbar">
  <a href="/"><i class="fas fa-bookmark active"></i></a>
  <a href=""><i class="fas fa-plus-circle big-plus-button"></i></a>
  <a href=""><i class="fas fa-map-marker-alt"></i></a>
</div>

