
<div class="bottom-navbar">
  <a href=""><i class="fas fa-bookmark bottom-navbar-icon"></i><p>Reports</p></a>
  <a href=""><i class="fas fa-plus-circle big-plus-button"></i><p></p></a>
  <a href=""><i class="fas fa-map-marker-alt bottom-navbar-icon"></i><p>Map</p></a>
</div>
<br>
<br>
<div class="bottom-navbar2">
  <a href=""><i class="fas fa-bookmark bottom-navbar-icon"></i><p class="label-bottom active">Reports</p></a>
  <a href=""><i class="fas fa-plus-circle big-plus-button"></i><p class="label-bottom active">New</p></a>
  <a href=""><i class="fas fa-map-marker-alt bottom-navbar-icon"></i><p class="label-bottom active">Map</p></a>
</div>
