
<div class="bottom-navbar">
  <a href=""><i class="fas fa-bookmark"></i><br><span>Reports</span></a>
  <a href=""><i class="fas fa-plus-circle"></i><br><span>New Report</span></a>
  <a href=""><i class="fas fa-map-marker-alt"></i><br><span>Map</span></a>
</div>
