<div class="bottom-navbar">
  <a href="/"><i class="fas fa-bookmark"></i></a>
  <a href=""><i class="fas fa-plus-circle big-plus-button"></i></a>
  <a href=""><i class="fas fa-map-marker-alt"></i></a>
</div>

