<div class="navbar fixed-top navbar-locally">
  <div class="logo-center">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "locally-horizontal.png", class: "center" %>
    <% end %>
  </div>
</div>

<!-- <div class="navbar navbar-expand-sm navbar-light navbar-locally">
  <%#= link_to "#", class: "navbar-brand" do %>
    <%#= image_tag "locally-circle.png", class: "center" %>
    <%# end %>
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %> -->
</div>



<!--

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <#% if user_signed_in? %>
        <li class="nav-item active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Action", "#", class: "dropdown-item" %>
            <%#= link_to "Another action", "#", class: "dropdown-item" %>
            <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <#% else %>
        <li class="nav-item">
        </li>
      <#% end %>
    </ul>
  </div> -->
