<div class="navbar fixed-top navbar-locally">
  <div class="logo-center">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "locally-horizontal.png", class: "center" %>
    <% end %>
  </div>
</div>
