
.bottom-navbar {
  background-color: $locally-white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0;
  border-top: 1px solid #A1A1A1;

  .bottom-navbar-icon, a {
    font-size: 25px;
    color: $locally-blue;
    }
}


.fa-bookmark {
  font-size: 23px;
}

.bookmark-icon {
  background-image: url(../../images/navbar-icons/bookmark-outline.svg);
  fill: $locally-blue;
  background-color: $locally-white;
}

.plus-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $locally-blue;
  color: $locally-blue;
  font-size: 30px !important;
  display: block;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
}

/*
font-weight: 800;
    font-size: 29px;
    line-height: 70px;
    */

.active {
  .plus-button {
    background-color: $locally-blue;
    color: $locally-white;
  }
    i {
  font-weight: 800;
  }
}
