
.bottom-navbar {
  background-color: $locally-white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0;
  border-top: 1px solid #A1A1A1;

  .bottom-navbar-icon, a {
    font-size: 25px;
    color: $locally-blue;
    }
}

.big-plus-button {
  font-size: 40px;
  border-radius: 50%;
}


.fa-bookmark {
  font-size: 23px;
}

.bottom-navbar-active {

}


.bookmark-icon {
  background-image: url(../../images/navbar-icons/bookmark-outline.svg);
  fill: $locally-blue;
  background-color: $locally-blue;
}
