.btn-primary {
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  background: $locally-blue;
  transition: background 0.3s ease;
  border: none;
  margin: 20px;
  &:hover {
  background: #4358D3;
  color: white;
  text-decoration: none;
  }
}
