.btn-red {
  color: white;
  padding: 7px 23px;
  border-radius: 5px;
  background: $locally-red;
  transition: background 0.3s ease;
  border: none;
  &:hover {
  background: #E44C45;
  color: white;
  text-decoration: none;
  }
}
