.btn-primary {
  color: white;
  padding: 7px 21px;
  border-radius: 5px;
  background: $locally-blue;
  transition: background 0.3s ease;
  border: none;
  &:hover {
  background: #4358D3;
  color: white;
  text-decoration: none;
  }
}
