.home-banner {
  background-size: cover;
  height:450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  h1 {
    color: black;
    font-size: 1.8em;
    font-weight: 450;
  }

  h3 {
    color: black;
    font-weight: light;
    opacity: 0.9;
    font-size: 1.1em;
    font-weight: 350;
  }
}
