.home-card {
  margin-bottom: 12px;
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  img {
    height: 100px;
    width: 110px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: 450px;
    margin: 0;
    color: black;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
  margin-bottom: 2px;
  color: black;
  }
}

.upvotes-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 0px;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.home-card-info {
  flex-grow: 1;
  height: 100%;
  padding: 15px;
}
