.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#reports-index #map canvas {
    height: 55vh !important;
    width: auto !important;
}
