.pill-status-open {
  padding: 1px 11px;
  border-radius: 20px;
  color: #a57b0b !important;
  transition: background 0.3s ease;
  text-decoration: none;
  width: fit-content;
  background-color: #f7d885;
  font-size: 13px !important;
  margin-top: 7px;
  font-weight: 400 !important;
  &:hover {
  text-decoration: none;
  }
}

