.pill-category {
  padding: 1px 8px;
  border-radius: 20px;
  color: #7c8ffc;
  transition: background 0.3s ease;
  text-decoration: none;
  width: fit-content;
  background-color: #e0e4fe;
  font-size: 10px;
  &:hover {
  text-decoration: none;
  color: $locally-blue;
  }
}

#reports-show .pill-category {
  font-size: 16px;
}
