.pill-category {
  padding: 1px 6px;
  border-radius: 20px;
  border: 1px solid #c1c1c1;
  color: #a8a8a8;
  transition: background 0.3s ease;
  text-decoration: none;
  width: fit-content;

  font-size: 10px;
  &:hover {
  text-decoration: none;
  color: #a8a8a8;
  }
}

#reports-show .pill-category {
  font-size: 16px;
}
