.report-card {
  margin-bottom: 12px;
  overflow: hidden;
  /*height: 155px;*/
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;

  h2 {
    font-size: 19px;
    font-weight: 450px;
    margin-bottom: 4px;
    color: black;
  }
  p {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 2px;
  color: #888e91;
  }
  a:first-child {
    height: 100%;
  }
}

.report-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.report-card-info {
  flex-grow: 1;
  height: 100%;
  padding: 12px 8px;
}

.img-votes {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  img {
  height: 135px;
  width: 135px;
  object-fit: cover;
  padding: 10px;
  border-radius: 14px;
  }
  .vote-count {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: $locally-blue;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 14px;

  span {
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }
  p {
    color: white;
    margin: 0;
    text-transform: uppercase;
  }
  }
}
