.search-text {
  /*border: 1px solid black;*/
  border-radius: 50px 0 0 50px;
  padding-right: 40px;
  padding-left: 20px;
  height: 50px;
  width: 50vw;
}

.search-button {
  border-radius: 0 50px 50px 0;
  background-color: $locally-blue;
  color: $locally-white;
  border: 0;
  padding: 5px 10px;
  height: 50px;
  width: 50px;
  border-left: none;
}


.ap-icon-pin {
  display: none;
}

#pages-home .form-control,
#reports-index .form-control {
  border-right: none;
  box-shadow: none;
}

#pages-home .form-control:focus,
#reports-index .form-control:focus {
  border: 1px solid $locally-blue;
  border-right: none;
  box-shadow: none;
}

.flex-box {
  display: flex !important;
  justify-content: center;
}

