.upvotes-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .fa-thumbs-up {
  color: white;
  background-color: $locally-green;
  padding: 8px 8px;
  border-radius: 50px;
  }

  .fa-thumbs-down {
  color: white;
  background-color: $locally-red;
  padding: 8px 8px;
  border-radius: 50px;
  margin-left: 5px;
  }

  .thumbs-inactive {
  color: white;
  background-color: $thumb-grey;
  padding: 8px 8px;
  border-radius: 50px;
  }
}

.upvotes-position-index-card {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.upvotes-position-show {
  position: absolute;
  bottom: 18px;
  right: 20px;
  font-size: 30px;
}

.upvotes-position-show .fas {
  padding: 13px;
}
