<h1>Reports</h1>


<div class="tab">
  <a class="active-tab" href="#list">List</a>
  <a href="#map">Map</a>
</div>

<div id="list">
  <div class="container">
    <% @reports.each do |report| %>
    <p><%= report.title %> <%= link_to "Details", report_path(report) %></p>
    <p><%= report.location %></p>
    <p><%= report.category.name %></p>
    <% end %>

    <div class="report-card">
      <img src="https://www.mybins.com.au/uploads/2/5/6/8/25680378/published/broken-wheeli-bin.jpg?1518481761">
      <div class="ml-3 report-card-info">
        <div class="report-text">
          <div>
            <h2>Card bin crashed</h2>
            <p><i class="fas fa-map-marker-alt mr-2"></i>Barcelona</p>
          </div>
          <div>
            <a href="#" class="badge badge-pill border badge-light">Category</a>
          </div>
        </div>
        <div class="upvotes-buttons mr-3">
          <a href="#"><i class="fas fa-chevron-up upvote-arrow"></i></a>

          <span class="line-height">413</span>
          <a href="#"><i class="fas fa-chevron-down downvote-arrow"></i></a>
        </div>
      </div>
    </div>
    <div class="report-card">
      <img src="https://www.mybins.com.au/uploads/2/5/6/8/25680378/published/broken-wheeli-bin.jpg?1518481761">
      <div class="ml-3 report-card-info">
        <div class="report-text">
          <div>
            <h2>Card bin crashed</h2>
            <p><i class="fas fa-map-marker-alt mr-2"></i>Barcelona</p>
          </div>
          <div>
            <a href="#" class="badge badge-pill border badge-light">Category</a>
          </div>
        </div>
        <div class="upvotes-buttons mr-3">
          <a href="#"><i class="fas fa-chevron-up upvote-arrow"></i></a>

          <span class="line-height">413</span>
          <a href="#"><i class="fas fa-chevron-down downvote-arrow"></i></a>
        </div>
      </div>
    </div><div class="report-card">
      <img src="https://www.mybins.com.au/uploads/2/5/6/8/25680378/published/broken-wheeli-bin.jpg?1518481761">
      <div class="ml-3 report-card-info">
        <div class="report-text">
          <div>
            <h2>Card bin crashed</h2>
            <p><i class="fas fa-map-marker-alt mr-2"></i>Barcelona</p>
          </div>
          <div>
            <a href="#" class="badge badge-pill border badge-light">Category</a>
          </div>
        </div>
        <div class="upvotes-buttons mr-3">
          <a href="#"><i class="fas fa-chevron-up upvote-arrow"></i></a>

          <span class="line-height">413</span>
          <a href="#"><i class="fas fa-chevron-down downvote-arrow"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="map">

</div>



<%#= link_to "Home", root_path, class: "btn btn-secondary" %>

